.container-array {
    position: absolute;
    margin-top: 100px;
    left: 100px;
    right: 100px;
}

.array-bar {
    width: 4px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    background: teal;
}

button {
    margin-left: 4px;
}

.button-container {
    position: relative;
    top: 50px;
    left: 100px;
    
}

button :active {
    background-color: none;
}

.array {
	height: 100px;
	position: relative;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    width: 4px;
}

.bar {
	position: absolute;
	box-sizing: border-box;
	background: grey;
	border: 1px solid white;
	/*transition: left 0.2s;*/
}